$color-red: #ff5555;
$color-white: #ffffff;
$color-black: #222222;
$color-background-gray: #404040;
$color-background-red: $color-red;
$color-background-header: $color-black;
$color-background-footer: $color-black;
$color-font-white: $color-white;
$color-font-red: $color-red;
